<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin Registration Success Page</title>
       <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
       <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">

    <!--Import materialize.css-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>
        <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/gasparesganga-jquery-loading-overlay@2.1.6/dist/loadingoverlay.min.js"></script>
    <style>
        .register{
        margin: 0px auto;
        width: 600px;
        margin-top: 100px;
    }
    </style>
</head>
<body>
    <div class="container">
        <div class="card z-depth-3 col s12 l6 m6 offset-l3 offset-m3 register" id="register">
          <div class="card-content teal white-text center-align">
               <h4>Registration Conformation</h4>
          </div>
            <div>
                <h4 class="green-text center-align">Your Registration is Conform</h4>
                <a href="/login/" class="center-align" style="margin-left: 40%">Goto Login</a>
            </div>
        </div>

    </div>
</body>
</html>