<!DOCTYPE html>
<html lang="en">
{% load staticfiles %}
<head>
    <meta charset="UTF-8">
     <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    <title>Base Page</title>
    <style>
        .custom{
            border: 0px solid;
            background-color: green;
            color: white;
            width: 100%;
            height: 60px;
            margin-top: 0px;




        }
    </style>
</head>
<body>
    <div class="container-fluid">
        <div class="row">
          <div class="custom col s12 m12 l12">
          <img src="{% static 'image/logo.ico' %}" width="50" height="50">
              <span style="margin-left: 1%;" ><b>Welcome {{ login_user.name }}</b></span>
              <span style="margin-left: 45%;padding: 10px;font-size: 15px; ">Admin Dashboard</span>
        <span style="float: right;padding: 1% ">
         <span style="border-radius: 10px;cursor: pointer"  class="modal-trigger" data-toggle="modal" data-target="login_user"> Update Login Profile</span>
           <a href="/logout/" class="large white-text" style="border-radius: 10px;"><i class="material-icons right">power_settings_new</i> </a>
         </span>
          </div>
     </div>
        {% block body %}

        {% endblock %}
        </div>

</body>
</html>