<!DOCTYPE html>
<html lang="en">
{% load staticfiles %}
<head>
    <meta charset="UTF-8">
    <title>DashBoard</title>

      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
     <link rel="stylesheet" href="{% static 'css_file/dashboard.css' %}">
     <link rel="stylesheet" href="https://cdn.datatables.net/1.10.11/css/jquery.dataTables.min.css">
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    <script src="{% static 'js_file/dashboard.js' %}"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>


<style>
    table {
    counter-reset: tableCount;
}
.counterCell:before {
    content: counter(tableCount);
    counter-increment: tableCount;
}
  .dataTables_length label select{
      display: inline-block;
      width: 42%;

  }
    .dataTables_length label{
        color: black;
    }
    .dataTables_filter label input[type=search]{
        border: 1px solid;
    }
</style>

</head>

<body>
 <div class="container-fluid">


       <div class="custom">
          <div class="col s12 m12 l12" style="padding: 2px;">
          <img src="{% static 'image/logo.ico' %}" width="50" height="50">
         {% for z in data %}
             <!-- Create Student Record--->
               <span style=" position: absolute;top: 14px; ">
                 <span >{{ z.name }}</span>
               </span>

         {% endfor %}

         <span style="float: right;padding: 7px; ">
           <a href="/logout/" class="btn large " style="border-radius: 10px;"><span>Logout</span><i class="material-icons right">lock</i> </a>
         </span>
          </div>
     </div>


     <div class="row">
       <div class="col s12 l3 m6" style="margin-top: 30px;">
      <!-- Create Toggle-->
       <span class="custom_toggle">
         <button type="button" class="btn waves-effect" style="border-radius: 10px;" name="form_button" id="form_button"> Update Login Profile</button>
        </span>
       <!-- End Toggle-->

           <div id="form_page" class="form_page">

               {% for x in data %}
                <div class="card profile">
                   <div class="card-content green white-text center-align">
                           <h4>Update Login User</h4>
                   </div>


                    <div class='row '>
                              <div class='input-field'>

                                  <input  type='hidden' name='id' id="id" class="id" value="{{ x.id }}" style="width:70%;margin-left: 27%;font-size: 20px; " />
                              </div>
                   </div>
                    <div class='row '>
                              <div class='input-field'>
                                  <label for="mobile" style="position: absolute;top:31%; margin-left: 6%" >Mobile  </label>
                                  <input  type='text' class="validate mobile" value="{{ x.mobile }}" id="mobile" maxlength="10" autocomplete="off" style="width:58%;margin-left: 27%;font-size: 20px; " onkeypress="return numberCheck(event)"/>
                              </div>
                   </div>
                   <div class='row '>
                              <div class='input-field'>
                                  <label for="name" style="position: absolute;top:31%; margin-left: 6%">Name  </label>
                                  <input  type='text' name='name' id="name" class="name" value="{{ x.name }}" style="width:58%;margin-left: 27%;font-size: 20px; " />
                              </div>
                   </div>
                   <div class='row '>
                              <div class='input-field'>
                                  <label for="email" style="position: absolute;top:31%; margin-left: 6%">Email  </label>
                                  <input  type='email' name='email' class="validate email" id="email" value="{{ x.email }}" style="width: 58%;margin-left: 27%;font-size: 20px; " />
                              </div>
                   </div>
                   <div class='row '>
                              <div class='input-field'>
                                  <label for="password" style="position: absolute;top:31%; margin-left: 6%"  >Password </label>
                                  <input  type='password' name='password' id="password" class="password" value="{{ x.password }}" style="width: 58%;margin-left: 27%;font-size: 20px; "/>
                              </div>
                   </div>
                   <div class='row ' align="center" style="position: relative;bottom: 10px;">
                              <button type="submit" class="btn waves-effect waves-light" onclick="return updateLogedUser()"><span>Update</span>
                               </button>
                   </div>

                </div>
               {% endfor %}

           </div>
       </div>

            <div class="col s12 l9 m7">
             <span style="float: right;padding: 7px;">
           <a href="/studentpage/" class="btn waves-effect" style="border-radius: 10px;"><span>Create Student Record</span></a>

       </span>
                <div class="flow-text white green-text center-align"><h3>Student Records</h3></div>
             {% if not student %}
                      <p class="flow-text red-text center-align ">Not Student Record In Database</p>
                 {% else %}
                <table class="bordered highlight display" id="table_data"  >
                    <thead>
                      <tr align="center">
                        <th>SNo.</th>
                        <th>Roll No.</th>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Mobile</th>
                        <th>Gender</th>
                        <th>Date Of Birth</th>
                        <th>Address</th>
                        <th>Update</th>
                        <th>Delete</th>
                        <th>Add Marks</th>
                      </tr>
                    </thead>
                    {% for y in student %}

                     <tbody>
                     <tr align="center">
                     <td class="counterCell"></td>
                     <td>{{ y.roll_no }}</td>
                     <td>{{ y.name }}</td>
                     <td>{{ y.email }}</td>
                     <td>{{ y.mobile }}</td>
                     <td>{{ y.gender }}</td>
                     <td>{{y.dob|date:"d-m-Y" }}</td>
                     <td>{{ y.address }}</td>
                     <td>
                       <a href="/studentpage/?id={{y.id }}"  class="green-text"><i class="material-icons" style="font-size: 40px;">edit</i></a>

                     </td>
                     <td>
{#                         <a href="/student_data_delete/?id={{ y.id }}" onclick="return confirm('Are You sure  Delete Record..?')" class="red-text"><i class="material-icons" style="font-size: 40px;">delete_forever</i></a>#}


             <!-- create Model--->
                         <a class="waves-effect waves-light modal-trigger red-text"  data-toggle="modal" data-target="modal1" id="delete_id" onclick="return delete_Data({{ y.id }})"><i class="material-icons" style="font-size: 40px;">delete_forever</i></a>
             <!--close Model-->
                     </td>
                         <td>
                         <a class="waves-effect waves-light modal-trigger green-text" data-toggle="modal" data-target="modal2" id="add_marks" onclick="return add_marks({{ y.id }},{{ y.roll_no }})"><i class="material-icons" style="font-size: 40px;">add_circle</i> </a>
                         </td>
                     </tr>
                     </tbody>
                    {% endfor %}

                        {% endif %}

                </table>
                  <!--Model Content for delete Record-->
                          <div id="modal1" class="modal white">
                            <div class="modal-content">
                              <h4  class="left-align">Delete Record</h4>
                              <p class="left-align">Are You Sure to delete this Student Record   ?</p>
                            </div>

                            <div class="modal-footer while">
{#                           <a href="/student_data_delete/?id={{ y.id }}" class="modal-close waves-effect btn waves-light" style="border-radius: 7px;">#}
                                <input type="hidden" name="s_id" id="s_id" class="s_id">
                                <button type="button" class="modal-close waves-effect btn waves-light" onclick="ajaxCalling()" style="border-radius: 7px;"><i class="material-icons right">delete</i> Delete</button>
                               <a class="modal-close waves-effect btn waves-light " style="border-radius: 7px;"><i class="material-icons right">cancel</i> Cancel</a>
                            </div>
                      </div>
            <!-- End Model COntent -->
              <!--Model Content for Add Marks-->
                          <div id="modal2" class="modal white">
                            <div class="modal-content">
                              <div class="card green  " style="margin: -24px;padding: 0px;">
                               <div class="card-content">
                                   <h4  class="center-align white-text">Add Marks</h4>
                               </div>
                              </div>

                               <div class="container-fluid">
                                   <div class="row">
                                           <input type="hidden" name="sid" id="sid" class="sid">
                                           <input type="hidden" name="roll_no" id="roll_no" class="roll_no">

                                   </div>
                                       <div class="row">
                                            <span class="input-field  ">
                                              <input type="number" name="math"  class="math" id="math" style="width: 45%;">
                                              <label for="math" style="margin-left: 2%;">Math</label>
                                            </span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

                                            <span class="input-field">
                                              <input id="science"  type="number" name="science"  class="science" id="science" style="width: 45%;" >
                                              <label for="science" style="margin-left: 2%;">Science</label>
                                            </span>
                                      </div>
                                      <div class="row">
                                            <span class="input-field  ">
                                              <input   type="number" name="socal"  class="socal" id="socal" style="width: 45%;">
                                              <label for="socal" style="margin-left: 2%;">Socal Science</label>
                                            </span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

                                            <span class="input-field">
                                              <input  type="number" name="english"  class="english" id="english" style="width: 45%;" >
                                              <label for="english" style="margin-left: 2%;">English</label>
                                            </span>
                                      </div>
                                      <div class="row">
                                            <span class="input-field  ">
                                              <input   type="number" name="hindi"  class="hindi" id="hindi" style="width: 45%;">
                                              <label for="hindi" style="margin-left: 2%;">Hindi</label>
                                            </span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

                                            <span class="input-field">
                                              <input type="number" name="sanskrit"  class="sanskrit" id="sanskrit" style="width: 45%;" >
                                              <label for="sanskrit" style="margin-left: 2%;">Sanskrit</label>
                                            </span>
                                      </div>
                                      <div class="row">
                                            <span class="input-field  ">
                                                Obtained Marks :&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" name="obtain"  class="obtain" id="obtain" style="width: 35%; font-weight: bold" disabled>

                                            </span>

                                            <span class="input-field">
                                                Percentage :&nbsp;&nbsp;&nbsp;&nbsp;<input  type="text" name="percentage"  class="percentage" id="percentage" style="width: 35%;font-weight: bold" disabled >

                                            </span>
                                      </div>
                                      <div class="row">
                                          <span class="input-field">
                                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                              Result :&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" name="result"  class="result" id="result" style="width: 35%;font-weight: bold" disabled >

                                            </span>
                                            <span class="input-field">
                                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                <span>Total Marks :</span>&nbsp;&nbsp;&nbsp;&nbsp;<span>600</span>

                                            </span><br>
                                      </div>

                               </div>



                            </div>

                            <div class="modal-footer while">

                                <button type="button" class="waves-effect btn waves-light" style="border-radius: 7px;" onclick="return save_marks()">Save</button>
                               <a class="modal-close waves-effect btn waves-light " style="border-radius: 7px;">Cancel</a>
                            </div><br>
                      </div>
            <!-- End Model COntent -->
            </div>

        </div>
    </div>





<script type="text/javascript">
     function delete_Data(id) {
       //var id = document.getElementById('sid').value;

       //alert(id);
       document.getElementById('s_id').value=id;
    }
function add_marks(id,roll) {
            //alert(id);
            //alert(roll);
            document.getElementById('sid').value=id;
            document.getElementById('roll_no').value=roll;

}
</script>






<script type="text/javascript">
    $(document).ready(function () {
       $('#table_data').DataTable();
    });
</script>
<script type="text/javascript">
    $(document).ready(function () {
       $('.modal').modal();
    })
</script>

</body>
</html>