<!DOCTYPE html>
<html lang="en">
{% load staticfiles %}
<head>
    <meta charset="UTF-8">
    <title>DashBoard</title>

      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
     <link rel="stylesheet" href="{% static 'css_file/dashboard.css' %}">
     <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    <script src="{% static 'js_file/dashboard.js' %}"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/gasparesganga-jquery-loading-overlay@2.1.6/dist/loadingoverlay.min.js"></script>

</head>
<body>
 <div class="container-fluid">
<div class="custom">
          <div class="col s12 m12 l12" style="padding: 2px;">
          <img src="{% static 'image/logo.ico' %}" width="50" height="50">
             <!-- Create Student Record--->
               <span style=" position: absolute;top:32%;margin-left: 1%;width: 15%; ">
                 <span>Welcome </span><span style="margin-left: 1%;" >{{ login_user.name }}</span>
               </span>


          <span style="margin-left: 41%; font-size: 20px;position: absolute;padding: 10px;">
              Admin Dashboard</span>

         <p style="border-radius: 10px;position: absolute;top: 3%;right: 10%;cursor: pointer"  class="modal-trigger" data-toggle="modal" data-target="login_user"> Update Login Profile</p>
        </span>
         <span style="float: right;padding: 1% ">
           <a href="/logout/" class="  white-text" style="border-radius: 10px;">Logout<i class="material-icons right" style="margin-left: 0px;">power_settings_new</i> </a>
         </span>
          </div>
     </div>

      <!--Create Modal for login profile Update-->
        <div id="login_user" class="modal white col s6 m6" style="width: 36%;">
                            <div class="modal-content">
                              <div class="card green  " style="margin:-6% !important;padding-top: 3% !important;">
                               <div class="card-content">
                                   <h4  class="center-align white-text">Update Login User</h4>
                               </div>
                               </div>

                                 <div class='row '>
                                   <div class='input-field'>
                                      <input  type='hidden' name='id' id="id" class="id" value="{{ login_user.id }}" style="width:70%;margin-left: 27%;font-size: 20px; " />
                                   </div>
                                 </div>
                                 <div class='row '>
                                    <div class='input-field' style="padding-top: 10px;">
                                      <label for="mobile" id="custom_label">Mobile  </label>
                                      <input  type='text' class="validate mobile" value="{{ login_user.mobile }}" id="mobile" maxlength="10" autocomplete="off"  onkeypress="return numberCheck(event)"/>
                                    </div>
                                 </div>
                                 <div class='row '>
                                    <div class='input-field'>
                                       <label for="name" id="custom_label">Name  </label>
                                       <input  type='text' name='name' id="name" class="name" value="{{ login_user.name }}"  />
                                    </div>
                                 </div>
                                 <div class='row '>
                                    <div class='input-field'>
                                        <label for="email" id="custom_label">Email  </label>
                                        <input  type='email' name='email' class="validate email " id="email" value="{{ login_user.email }}"  />
                                    </div>
                                 </div>
                                 <div class='row '>
                                    <div class='input-field'>
                                        <label for="password" id="custom_label">Password </label>
                                        <input  type='password' name='password' id="password" class="password" value="{{ login_user.password }}" />
                                    </div>
                                 </div>
                                 <div class='row ' align="center" style="position: relative;bottom: 10px;">
                                     <button type="submit" class="btn waves-effect waves-light " style="border-radius: 5px;text-transform: none" onclick="return updateLogedUser()"><span>Update</span></button>
                                     <button class="btn-flat waves-effect waves-light modal-close " style="border-radius: 5px;border:1px solid;text-transform: none"><span>Close</span></button>
                                 </div>
                               </div>

                            </div><br>

      </div>

       <div class="col s12 m12 l12" style="padding: 1%">
        <span style="padding-top: 2%;">
        <a href="/studentpage/" class="btn waves-effect" style="border-radius: 10px;text-transform: none"><span>Create Student Record</span></a>

       </span>
{#                <span class="flow-text white green-text" style="font-size: 20px;font-weight:bold;margin-left: 32%">Students Record</span>#}
              <span style="font-size: 20px;color: #1e7e34;font-family: monospace;"><center>Students Record</center></span>
              <!-- Student Table is Blank-->

{#                      <p class="flow-text red-text center-align ">Not Student Record In Database</p>#}

             <!-- Record present in the Table-->

                <label for="select_student" style="font-weight: bold;position: absolute;right: 210px;top:177px;">Filter :</label>
                <select class="browser-default select_student select_field" id="select_student" onchange="student_record()" name="select_student">
                  <option value="all" selected>All Students</option>
                  <option value="absent">Absent</option>
                  <option value="pass">Pass</option>
                  <option value="fail">Fail</option>
                </select>





                <table class="bordered highlight" id="table_rec" style="border-collapse: collapse;padding: 1%"  >
                    <thead>
                      <tr  align="center">
                        <th width="33px">SNo.</th>
                        <th width="48px">Roll No.</th>
                        <th width="150">Name</th>
                        <th>Email</th>
                        <th width="98px">Mobile</th>
                        <th width="8%">Gender</th>
                        <th width="86px">Date Of Birth</th>
                        <th width="75px">Address</th>
                        <th width="222px">Profile</th>
                        <th width="222px">Marks</th>
                      </tr>
                    </thead>
                    <tbody id="table_body"></tbody>
                     </table>
{#                    {% for student  in students %}#}
{##}
{#                     <tr align="center">#}
{#                     <td class="counterCell"></td>#}
{#                     <td>{{ student.roll_no }}</td>#}
{#                     <td>{{ student.name }}</td>#}
{#                     <td>{{ student.email }}</td>#}
{#                     <td>{{ student.mobile }}</td>#}
{#                     <td>{{ student.gender }}</td>#}
{#                     <td>{{student.dob|date:"d-m-Y" }}</td>#}
{#                     <td>{{ student.address }}</td>#}
{#                     <td>#}
{#                       <a href="/studentpage/?id={{student.id }}"  class="btn waves-effect waves-light green" style="width: 19%">Edit</a>#}
{##}
{##}
{#                         <a href="/student_data_delete/?id={{ y.id }}" onclick="return confirm('Are You sure  Delete Record..?')" class="red-text"><i class="material-icons" style="font-size: 40px;">delete_forever</i></a>#}
{##}
{##}
{#             <!-- create Model for delete record--->#}
{#                         <a class="waves-effect waves-light modal-trigger red btn"  data-toggle="modal" data-target="modal1" id="delete_id" onclick="delete_Data({{ student.id }})" style="width: 19%">Delete</a>#}
{#             <!--close Model-->#}
{#                     </td>#}
{#                         <td>#}
{#                             <!-- create modal for add Marks -->#}
{#                         <a class="waves-effect waves-light modal-trigger green btn" data-toggle="modal" data-target="modal2" id="add_marks" onclick="add_marks({{ student.id }},{{ student.roll_no }})" style="width: 32%">Add Marks </a>#}
{#                         <a class="waves-effect waves-light green btn" href="/marks/?sid={{ student.id }}" >Update</a>#}
{#                         </td>#}
{#                     </tr>#}
{##}
{#                    {% endfor %}#}





                 <!--Student Details Modal-->
                 <div id="modal4" class="modal white modal-fixed" style="width: 40%;">
                            <div class="modal-content">
                              <div class="card green  " style="margin: -25px;padding: 5px;">
                               <div class="card-content">
                                   <h5  class="center-align white-text">Student Detail</h5>
                               </div>
                              </div><br><br>


{#                            <p id="student_body"></p>#}
                                <div class="container-fluid" style="margin-left: 8%;">
                                  <div class="row">
                                      <span style="position: absolute;top: 16%;right: 9%;"> <img id="image" src="{% static 'image/a.jpg' %}" width="125" height="125"></span>
                                  </div>

                                  <div class="row">
                                      <span> Roll No. <input id="roll_no" disabled></span>
                                  </div>
                                    <div class="row">
                                      <span style="margin-left: 2%">Name <input id="student_name" disabled></span>
                                  </div>
                                    <div class="row">
                                        <span>Email <input id="student_email"  disabled></span>

                                        <span style="margin-left: 7%">Mobile <input id="student_mobile"  disabled></span>
                                  </div>
                                    <div class="row">
                                        <span>Gender <input id="student_gender"  disabled></span>

                                        <span style="margin-left: 2%">Date Of Birth <input id="student_dob"  disabled></span>
                                  </div>
                                  <div class="row">
                                      <span>Address <input id="student_address"  disabled></span>

                                      <span style="margin-left: 8%">Result <input id="student_result"  disabled></span>
                                  </div>
                                </div>
                              </div>

                            <div class="modal-footer while">
                              <a class="modal-close waves-effect btn-flat waves-light " style="border:1px solid;border-radius: 7px;text-transform: none"> Close</a>
                            </div>
                      </div>



                  <!--Model Content for delete Record-->
                          <div id="modal1" class="modal white" style="width: 50%">
                            <div class="modal-content">
                              <h4  class="left-align">Delete Record</h4>
                              <p class="left-align">Are You Sure to delete this Student Record   ?</p>
                            </div>

                            <div class="modal-footer while">
{#                           <a href="/student_data_delete/?id={{ y.id }}" class="modal-close waves-effect btn waves-light" style="border-radius: 7px;">#}
                                <input type="hidden" name="s_id" id="s_id" class="s_id">
                                <button type="button" class="modal-close waves-effect btn waves-light" onclick="ajaxCalling()" style="border-radius: 7px;">Delete</button>
                               <a class="modal-close waves-effect btn-flat waves-light " style="border-radius: 7px;text-transform: none;border: 1px solid">Cancel</a>
                            </div>
                      </div>
            <!-- End Model COntent -->
              <!--Model Content for Add Marks-->
                          <div id="modal2" class="modal white">
                              <div class="card green" style="margin: 0px;">
                               <div class="card-content">
                                   <h4  class="center-align white-text" style="padding: 0%;padding-top: 1%">Add Marks</h4>
                               </div>
                              </div>
                              <div class="container-fluid">
                                   <div class="row" style="margin-bottom: 6px;margin-left: 7%">
                                           <input type="hidden" name="sid" id="sid" class="sid" disabled><br>
                                           <center><label for="student_roll_no" >Roll No.</label>
                                               <span id="student_roll_no" class="student_roll_no"></span></center>
{#                                           <input type="text" name="student_roll_no" id="student_roll_no" class="student_roll_no" disabled style="width: 30%;margin-left: 0%">#}
{#                                           <input type="text" name="sname" id="sname" class="sname">#}
                                   </div>
                                       <div class="row" style="margin-bottom: 6px;margin-left: 7%">
                                            <span class="input-field" style="margin-left: 2%">
                                              <input type="number" name="math"class="math" id="math" onkeyup="return marks_math()">
                                              <label for="math" >Math</label>
                                            </span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

                                            <span class="input-field">
                                              <input  type="number" name="science"  class="science" id="science" onkeyup="return marks_science()" >
                                              <label for="science" >Science</label>
                                            </span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                            <span class="input-field  ">
                                              <input   type="number" name="socal"  class="socal" id="socal" onkeyup="return marks_socal()">
                                              <label for="socal" >Socal Science</label>
                                            </span>
                                      </div>
                                      <div class="row" style="margin-bottom: 6px;margin-left: 7%">
                                            <span class="input-field" style="margin-left: 2%">
                                              <input  type="number" name="english"  class="english" id="english" style="width: 40%;" onkeyup="return marks_english()" >
                                              <label for="english" >English</label>
                                            </span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                            <span class="input-field  ">
                                              <input   type="number" name="hindi"  class="hindi" id="hindi" style="width: 40%;" onkeyup="return marks_hindi()">
                                              <label for="hindi">Hindi</label>
                                            </span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

                                            <span class="input-field">
                                              <input type="number" name="sanskrit" class="sanskrit" id="sanskrit" style="width: 40%;" onkeyup="return marks_sanskrit()">
                                              <label for="sanskrit" >Sanskrit</label>
                                            </span>
                                      </div>
                                    <hr>

                                      <div class="row" style="margin-bottom: 6px;margin-left: 7%">
                                          <span class="input-field">
                                               <span>Total Marks : 600</span>
                                            </span>&nbsp;&nbsp;
                                            <span class="input-field" >
{#                                                Obtained Marks :&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" name="obtain"  class="obtain" id="obtain" style="width: 30%; font-weight: bold" disabled>#}
                                                Obtain:&nbsp;&nbsp;
                                                <input type="text" id="obtain" class="obtain" disabled style="margin-left: -1%;width: 15% !important;">
                                            </span>&nbsp;&nbsp;

                                            <span class="input-field">
                                                 Result:&nbsp;&nbsp;
                                                 <input type="text" id="result" class="result" disabled style="margin-left: -1%;width: 15% !important;">
                                            </span>&nbsp;&nbsp;
                                            <span class="input-field" >
                                                 Percentage:&nbsp;&nbsp;
                                                 <input type="text" id="percentage" class="percentage" disabled style="margin-left: -1%;width: 16% !important;">
                                            </span>
                                      </div>
                               </div>
                            <div class="modal-footer while">
                               <button type="button" class="waves-effect btn waves-light green" style="border-radius: 7px;text-transform: none;" onclick="return save_marks()">Save</button>
                               <a class="modal-close waves-effect btn-flat waves-light " style="border-radius: 7px;text-transform: none;border: 1px solid;">Cancel</a>
                            </div>
                          </div>
            <!-- End Model Content -->



    </div>
</body>
</html>