<!DOCTYPE html>
<html lang="en">
{% load staticfiles %}
<head>
    <meta charset="UTF-8">
    <title>DashBoard</title>
    <link rel="stylesheet" href="{% static 'css_file/bootstrap.min.css' %}">
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <style>
        table{
            margin-top: 50px;
            border-collapse: collapse;

        }
        td.updatefont{
            font-size: 20px;
            font-weight: bold;
            color: #9fcdff;
            text-align: center;
            background-color: #1e7e34;


        }
        #formpage{
            display: none;
        }
        td{
            text-align: center;
        }
        .custom_toggle{
            margin-top: 30px;
        }
    </style>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#formbutton').click(function () {
              $('#formpage').toggle();
            })
        })
    </script>
</head>
<body bgcolor="#7fffd4">
 <div class="container-fluid">
     <div class="row">
       <div class="col-lg-4">
       <div class="custom_toggle">
         <button type="button" class="btn btn-success btn-large" name="formbutton" id="formbutton"> Update Profile</button>
         <a href="/studentpage/" class="btn btn-primary">Create Student Page</a>
         <a href="/logout/" class="btn btn-danger">Logout</a>
       </div>
           <form action="/profile_update/" method="post" id="formpage">

               {% for x in data %}
           <table  width="500" align="center"  border="0" >
               <tr>
                   <td class="updatefont" colspan="2" >Update Profile</td>
               </tr>
               <tr>
                   <td class="updatefont" colspan="2" >{{ x.mobile }}</td>
               </tr>
               <tr>
                   <td>Name :</td>
                   <td><input type="text" name="name" value="{{ x.name }}"></td>
               </tr>
               <tr>
                   <td>Email :</td>
                   <td><input type="email" name="email" value="{{ x.email }}"></td>
               </tr>
               <tr>

                   <td><input type="hidden" name="mobile" value="{{ x.mobile }}"></td>
               </tr>

               <tr>
                   <td>Password :</td>
                    <td><input type="password" name="password" value="{{ x.password }}"></td>
               </tr>
               <tr>
                   <td><button type="submit" class="btn btn-primary text-center">Update</button></td>
               </tr>

           </table>
               {% endfor %}

           </form>
       </div>

            <div class="col-lg-6 ">
                <table class="table table-bordered table-striped " >
                    <tr>
                        <th>SID</th>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Mobile</th>
                        <th>Password</th>
                        <th>Gender</th>
                        <th>DOB</th>
                        <th>Address</th>
                        <th>Update</th>
                        <th>Delete</th>
                    </tr>
                    {% for y in student %}
                     <tr>
                     <td>{{ y.sid }}</td>
                     <td>{{ y.name }}</td>
                     <td>{{ y.email }}</td>
                     <td>{{ y.mobile }}</td>
                     <td>{{ y.password }}</td>
                     <td>{{ y.gender }}</td>
                     <td>{{ y.dob }}</td>
                     <td>{{ y.address }}</td>
                     <td>

                           <a href="/studentpage/?sid={{y.sid }}" class="btn-floating pulse"><i class="material-icons" style="font-size: 40px;">edit</i></a>

                     </td>
                     <td>
                         <a href="/student_data_delete/?sid={{ y.sid }}" onclick="return confirm('Are You sure  Delete Record..?')"><i class="material-icons" style="font-size: 40px;">delete_forever</i></a>
                     </td>

                     </tr>


                    {% endfor %}


                        {{ status }}
{#                <script type="text/javascript">#}
{#                    function clicked() {#}
{#                        #}
{#                    }#}
{#                </script>#}
                </table>
            </div>

        </div>
    </div>




</body>
</html>