<html>

<head>
    {% load staticfiles %}
       <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">



<style>

    .login{
        margin: 100px;
    }
    body{
        background-color: honeydew;
    }
    .login label{
            font-size: 16px;
            color: #ccc;
        }
        .login input{
            font-size: 20px !important;

        }
       /* .login button:hover{
            padding: 0px 40px;
        }
      input::placeholder{
          opacity: 0.4;
          color: black;


      }*/
     .login button:hover{
            color: white;
            background-color: green;
        }

</style>

</head>

<script type="text/javascript">
        function formValidation() {
            var mobile = document.getElementById('mobile').value;
            var password = document.getElementById('password').value;
            var password1 = document.getElementById('password1').value;
            var dmobile = document.getElementById('dmobile').value;
            var mobile_pattern = /^[1-9]{1}[0-9]+/;



            if(mobile ==""){
                Materialize.toast('Enter a Mobile Number...!', 2000,'rounded');
                mobile.focus();
                return false;
            }
            else if(isNaN(mobile)){

                Materialize.toast('Enter Only Digit...!',2000,'rounded');
                mobile.focus();
                return false;
            }
            else if(mobile.match(mobile_pattern)){
                Materialize.toast("Mobile No. Not Start 0",2000,'rounded')
                return false;
            }

            else if(password == ""){
                Materialize.toast('Fill The Password.', 3000,'rounded');
                password.focus();
                return false;
            }
            else if(password1 == ""){
                Materialize.toast("Fill The Re_Enter Password",2000,'rounded');
                return false;
            }
            else if(password != password1){
                Materialize.toast("Password Not Match",2000,'rounded')
                return false;
            }
            else{
                ajaxRest();
            }


        }

        function ajaxRest() {
            $.ajax({
               type:'POST',
               url:'/reset_password/',
               data:{
                   mobile:$(".mobile").val(),
                   password:$(".password").val(),
               },
               success:function (data) {
                    if(data.success == true){
                        Materialize.toast("Password Reset",2000,'rounded')
                        window.location=/login/;
                    }else {

                       Materialize.toast('Mobile No. Not Exist', 3000,'rounded');
                    }
               },

               });
            }

    </script>



<body>


<center>

  <!-- Allow only Digit in mobile no.-->
    <script type="text/javascript">
        function numberCheck(evt) {
            evt = (evt) ? evt : window.event;
                var charCode = (evt.which) ? evt.which : evt.keyCode;
                if (charCode > 31 && (charCode < 48 || charCode > 57)) {
                    return false;
                }
             return true;

        }
    </script>

     <!--End Call-->

    <!-- Ajax Calling -->
    <script type="text/javascript">
        $(document).ready(function () {

        })




    </script>
    <!--End Ajax Calling-->



   <div class="container">
       <div class="row">
          <div class="col s12 m8 l8 offset-l2 offset-m2">

               <div class="login">
               <div class="card z-depth-4">

                       <div class="card-content teal white-text center-align">
                           <h3>Reset Password</h3>
                       </div>


                   <div class="row">
                        <div class="input-field  ">
                          <i class="material-icons prefix " style="margin-left: -2%;">phone</i>
                          <input id="mobile"  type="text" name="mobile" style="width: 83%;margin-left: 5%" class="validate mobile" id="mobile" maxlength="10" autocomplete="off" onkeypress="return numberCheck(event)">
                          <label for="mobile" style="margin-left: 12%;">Mobile</label>
                        </div>
                   </div>
                   <div class="row">
                        <div class="input-field ">
                          <i class="material-icons prefix" style="margin-left: -2%;">lock</i>
                          <input id="password" type="password" name="password" class="validate password" style="width: 83%;margin-left: 5%" >
                          <label for="password" style="margin-left: 12%;">Password</label>
                      </div>
                   </div>
                   <div class="row">
                        <div class="input-field ">
                          <i class="material-icons prefix" style="margin-left: -2%;">lock</i>
                          <input id="password1" type="password" name="password1" class="validate password1" style="width: 83%;margin-left: 5%" >
                          <label for="password1" style="margin-left: 12%;">Re Password</label>
                      </div>
                   </div>
                     {%  for x in reg %}

                         <input type="hidden" value="{{ x.mobile }}" id="dmobile" class="dmobile">
                     {% endfor %}

                  <div class="form-field center-align">
                           <button class="btn-large btn-success  waves-effect waves-light " id="submit" style="border-radius: 5px; position: relative;bottom: 5px;" onclick="return formValidation()"><span>Reset Password</span> </button>
                  </div><br>


                   </div>

               </div>



          </div>

       </div>
   </div>




<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.1/jquery.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>










</center>
</body>

</html>