<html>

<head>
    {% load staticfiles %}
       <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
       <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
       <link rel="stylesheet" href="{% static 'css_file/loginpage.css' %}">

        <!--Import materialize.css-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>
        <script type="text/javascript" src="{% static 'js_file/loginpage.js'%}"></script>
        <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/gasparesganga-jquery-loading-overlay@2.1.6/dist/loadingoverlay.min.js"></script>
</head>
<body>
<div class="container">
       <div class="row">
          <div class="col s12 m8 l8 offset-l2 offset-m2">
               <div class="login">
               <div class="card z-depth-4">
                       <div class="card-content teal white-text center-align">
                           <h3>Admin-Login</h3>
                       </div>
                   <div class="row">
                        <div class="input-field" style="padding-top: 3%">
                          <i class="material-icons prefix " style="margin-left: 4%;">phone</i>
                          <input type="text" name="mobile" style="width: 78%;margin-left: 12%" class="validate mobile" id="mobile" maxlength="10" autocomplete="off" onkeypress="return numberCheck(event)">
                          <label for="mobile" style="margin-left: 12%;padding-top: 3%">Mobile</label>
                        </div>
                   </div>
                   <div class="row">
                        <div class="input-field ">
                          <i class="material-icons prefix" style="margin-left: 4%;">lock</i>
                          <input id="password" type="password" name="password" class="validate password" style="width: 78%;margin-left: 12%" >
                          <label for="password" style="margin-left: 12%;">Password</label>
                      </div>
                   </div>
                  <div class="form-field center-align">
                           <button class=" btn waves-effect waves-light " id="submit" style="border-radius: 5px; position: relative;bottom: 5px;" onclick="return formValidation()"><span>Login</span><i class="material-icons right">send</i> </button>
                       </div>
                   <p class="center-align"><a href="/resetPage/">Forget Password ?</a> </p>
                   <div class="flow-text center-align">
                       <span style="font-size: 15px;">Don't have an account <strong>?</strong></span> &nbsp;&nbsp;<a href="/registration/" style="font-size: 15px;font-weight: bold"> Signup Now </a>
                        <br><br>
                   </div>
                   </div>
               </div>
          </div>

       </div>
   </div>
</body>

</html>