<!DOCTYPE html>
<html lang="en">
{% load staticfiles %}
<head>
    <meta charset="UTF-8">
    <title>Marks Table</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <link rel="stylesheet" href="{% static 'css_file/marks.css' %}">
    <script type="text/javascript" src="{% static 'js_file/marks.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>



</head>
<body>
<div class="custom">
          <div class="col s12 m12 l12" style="padding: 2px;">
              <a href="/dashboard/"><img src="{% static 'image/logo.ico' %}" width="50" height="50"></a>
             <!-- Create Student Record--->
               <span style=" position: absolute;top:32%;margin-left: 1%;width: 15%; ">
                 <span>Welcome </span><span style="margin-left: 1%;" >{{ login_user.name }}</span>
               </span>


          <span style="margin-left: 45%; font-size: 20px;position: absolute;padding: 10px;">Admin Dashboard</span>


        </span>
         <span style="float: right;padding: 1% ">
           <a href="/logout/" class="  white-text" style="border-radius: 10px;">Logout<i class="material-icons right" style="margin-left: 0px;">power_settings_new</i> </a>
         </span>
          </div>
     </div>
   <div class="container">
       <div class="row" align="center">
           <div class="col s12 l12 m12 " style="margin-top: 6%;">
           <div class="card z-depth-3" style="width: 55%">
                    {% if not mark %}

                           <div class="card-content teal red-text center-align">
                           <h5>Not Attend Examination</h5>
                           </div>
                        {% else %}
                        {%  for m in mark %}
                   <div class="card-content teal white-text center-align">
                           <h5>Student Marks Table</h5>
                   </div>
                   <div class="container-fluid">



                         <div class="row" style="padding: 2%;margin-left: 0%">
                             <span class="input-field  ">
                                  <input type="number" name="sid"  class="sid" id="sid" value="{{ m.student_id }}"  disabled>
                                  <label for="sid" style="margin-left: 11%;">ID</label>
                             </span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                             <span class="input-field">
                                   <input  type="number" name="roll_no"  class="roll_no" id="roll_no" value="{{ m.roll_no }}" disabled >
                                   <label for="science" style="margin-left: 7%;">Roll No.</label>
                             </span>

                         </div>
                         <div class="row"  style="margin-left: 0%">
                             <span class="input-field  ">
                                  <input type="number" name="math"  class="math" id="math" value="{{ m.math }}" >
                                  <label for="math" style="margin-left: 13%;">Mathematics</label>
                             </span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                             <span class="input-field">
                                   <input  type="number" name="science"  class="science" id="science" value="{{ m.science }}"  >
                                   <label for="science" style="margin-left: 5%;">Science</label>
                             </span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                             <span class="input-field  ">
                                  <input type="number" name="socal"  class="socal" id="socal" value="{{ m.socal }}" >
                                  <label for="socal" style="margin-left: 13%;">Socal Science</label>
                             </span>

                         </div>
                         <div class="row" style="margin-left: 0%">
                             <span class="input-field">
                                   <input  type="number" name="english"  class="english" id="english" value="{{ m.english }}">
                                   <label for="english" style="margin-left: 5%;">English</label>
                             </span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                             <span class="input-field  ">
                                  <input type="number" name="hindi"  class="hindi" id="hindi" value="{{ m.hindi }}">
                                  <label for="hindi" style="margin-left: 13%;">Hindi</label>
                             </span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                             <span class="input-field">
                                   <input  type="number" name="sanskrit"  class="sanskrit" id="sanskrit" value="{{ m.sanskrit }}" >
                                   <label for="sanskrit" style="margin-left: 5%;">Sanskrit</label>
                             </span>

                         </div>
                         <div class="row" style="margin-left: 0%">
                             <span class="input-field  ">
                                  <input type="number" name="obtain"  class="obtain" id="obtain" value="{{ m.obtain }}" disabled>
                                  <label for="obtain" style="margin-left: 13%;">Obtained</label>
                             </span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                             <span class="input-field">
                                   <input  type="number" name="percentage"  class="percentage" id="percentage" value="{{ m.percentage }}"   disabled>
                                   <label for="percentage" style="margin-left: 5%;">Percentage %</label>
                             </span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                             <span class="input-field  ">
                                  <input type="text" name="result"  class="result" id="result" value="{{ m.result }}"  disabled>
                                  <label for="obtain" style="margin-left: 13%;">Result</label>
                             </span>


                         </div>
                         <div class="row" >
                             <span class="input-field  ">
                                  <button type="button" class="btn waves-effect waves-light" onclick="return update_marks()" style="margin-left: 40%;text-transform: none">Update</button>
                                  <a href="/dashboard/" class="btn-flat waves-effect waves-light " style="border:1px solid;text-transform: none">Cancel</a>
                             </span><br><br>
                         </div>

                        {% endfor %}
                     {% endif %}





                   </div>

               </div>
           </div>

       </div>
   </div>
</body>
</html>