<html>

<head>
    {% load staticfiles %}
       <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
       <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
       <link rel="stylesheet" href="{% static 'css_file/loginpage.css' %}">
       <meta name="viewport" content="width=device-width, initial-scale=1">
        <!--Import materialize.css-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>
        <script type="text/javascript" src="{% static 'js_file/admin_reg.js'%}"></script>
        <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/gasparesganga-jquery-loading-overlay@2.1.6/dist/loadingoverlay.min.js"></script>
    <style>
        .card .card-content{
         padding: 9px;
     }
    </style>
</head>
<body>
<div class="container">
       <div class="row">
               <div class="login col s12 m6 l6 offset-l3  offset-m3">
               <div class="card z-depth-3">
                       <div class="card-content teal white-text center-align" style="padding: 1px;" >
                           <h5>Admin Registration Page</h5>
                       </div>
                       <div class='row ' style="padding-left:6%;padding-right: 5%;">
                              <div class='input-field custom'>
                                <input class='validate name' type='text' name='name' id='name' autocomplete="off" />
                                <label for='name'>Enter  Name</label>
                              </div>
                       </div>
                       <div class='row'style="padding-left:6%;padding-right: 5%;">
                              <div class='input-field custom'>
                                <input class='validate email' type='email' name='email' id='email' autocomplete="off" />
                                <label for='email'>Enter  email</label>
                              </div>
                       </div>
                       <div class='row'style="padding-left:6%;padding-right: 5%;">
                              <div class='input-field custom'>
                                <input class='validate mobile' type='text' name='mobile' id='mobile' maxlength="10" onkeypress="return numberCheck(event)" autocomplete="off"/>
                                <label for='mobile'>Enter Mobile Number</label>
                              </div>
                       </div>
                       <div style="padding-left: 3%;" >
                                          <input name="gender" type="radio" class="gender" id="male" value="male" />
                                          <label for="male" style="padding-left: 24px;">Male</label>
                                          <input name="gender" type="radio" class="gender" id="female" value="female" />
                                          <label for="female" style="padding-left: 24px;">Female</label>
                       </div>
                       <div class='row ' style="padding-left:6%;padding-right: 5%;">
                              <div class='input-field custom'>
                                <input class='validate password' type='password' name='password' id='password' />
                                <label for='password'>Enter password</label>
                              </div>
                       </div>
                       <div class='row ' style="padding-left:6%;padding-right: 5%;">
                              <div class='input-field custom'>
                                <input class='validate password2' type='password' name='password2' id='password2' />
                                <label for='password'>Re-Enter password</label>
                            </div>
                       </div>
                  <center><div class="form-field center-align">
                           <button class=" btn waves-effect waves-light " id="submit" style="border-radius: 5px; position: relative;bottom: 5px;" onclick="return formValidation()"><span>Register</span> </button><br>
                           <span>Already have an Account ?</span><a href="/login/" >Login</a>
                     </div>
                  </center><br>
                </div>
               </div>
       </div>






   </div>
</body>

</html>