<html>
{% load staticfiles %}

<head>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
  <link rel="stylesheet" href="{% static 'css_file/admin_reg.css' %}">
      <!--Import materialize.css-->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.1/jquery.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>
  <script type="text/javascript" src="{% static 'js_file/admin_reg.js' %}"></script>

</head>
<body>
 <div class="container">

              <div class="col s12 l4 m4 offset-l4 register" >
                  <div class="card">
                       <div class="card-content teal white-text center-align">
                                   <h3>Admin-Registration</h3>
                               </div>


                           <div class='row ' style="padding-left:5%;padding-right: 5%;">
                              <div class='input-field custom'>
                                <input class='validate name' type='text' name='name' id='name' />
                                <label for='name'>Enter  Name</label>

                              </div>
                            </div>

                            <div class='row'style="padding-left:5%;padding-right: 5%;">
                              <div class='input-field custom'>
                                <input class='validate email' type='email' name='email' id='email' />
                                <label for='email'>Enter  email</label>
                              </div>
                            </div>
                            <div class='row'style="padding-left:5%;padding-right: 5%;">
                              <div class='input-field custom'>
                                <input class='validate mobile' type='text' name='mobile' id='mobile' maxlength="10" onkeypress="return numberCheck(event)" />
                                <label for='mobile'>Enter Mobile Number</label>
                              </div>
                            </div>

                                <div style="padding-left: 7%;" >
                                          <input name="gender" type="radio" class="gender" id="male" value="male" />
                                          <label for="male">Male</label>

                                          <input name="gender" type="radio" class="gender" id="female" value="female" />
                                          <label for="female">Female</label>
                                </div>

                            <div class='row ' style="padding-left:5%;padding-right: 5%;">
                              <div class='input-field custom'>
                                <input class='validate password' type='password' name='password' id='password' />
                                <label for='password'>Enter password</label>
                              </div>
                            </div>
                            <div class='row ' style="padding-left:5%;padding-right: 5%;">
                              <div class='input-field custom'>
                                <input class='validate password2' type='password' name='password2' id='password2' />
                                <label for='password'>Re-Enter password</label>
                            </div>

                            </div>
                                  <div  class="input-field " align="center" >
                                    <button type='submit' name='btn_login' class='btn waves-effect teal medium' style="border-radius: 10px;font-size: 20px;position: relative;bottom: 10px; " onclick="return formValidation()">Register
                                       </button><br>
                                      <span>Already have an Account ? </span><a href="/login/" >Login</a>
                                  </div><br>

                  </div>

              </div>
      </div>

</body>

</html>