<!DOCTYPE html>
<html lang="en">
{% load staticfiles %}
<head>
    <meta charset="UTF-8">
    <title>Student Page</title>
          <!--Import Google Icon Font-->
      <link href="{% static 'css_file/bootstrap.min.css' %}">
      <link rel="stylesheet" href="{% static 'css_file/student_reg.css' %}">
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
      <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
      <script type="text/javascript" src="{% static 'js_file/student_reg.js' %}"></script>
</head>
<body>

 <div class="container-fluid">
   <div class="custom">
         <span style="float:left;padding: 7px;">
           <a href="/dashboard/" class="btn waves-effect" style="border-radius: 10px;"><span>Home</span><i class="material-icons right">home</i> </a>

       </span>
         <span style="float: right;padding: 7px; ">
           <a href="/logout/" class="btn large " style="border-radius: 10px;"><span>Logout</span><i class="material-icons right">lock</i> </a>
         </span>
     </div>
     <div class="row register">

         <div class="col s12 m8 l5 offset-l3  offset-m3 ">
           <div class="card z-depth-3">

               {% if not student %}
             <!--=============================Create Student Record=====================-->
                <div id="formData">
                   <div class="card-content green white-text center-align">
                       <h4>Student Registration</h4>
                   </div>
                      <div class="row register" style="margin-top: 20px;margin-left: 2%;margin-right: 2%;">
                        <div class="input-field col s12">
                          <input id="roll_no" type="number" name="roll_no" class="roll_no" >
                          <label class="active" for="roll_no">Student Roll No.</label>

                        </div>

                        <div class="input-field col s12">
                          <input id="name" type="text" name="name" class="name"  autocomplete="off" >
                          <label class="active" for="name">Student Name</label>

                        </div>

                        <div class="input-field col s12">
                          <input id="email" type="email"  name="email" class="validate email" >
                          <label class="active" for="email">Student Email</label>

                        </div>

                        <div class="input-field col s12">
                          <input id="mobile" type="text" name="mobile" class="mobile"  maxlength="10" onkeypress="return numberCheck(event)">
                          <label class="active" for="mobile">Mobile No.</label>

                        </div>

                       <div class="input-field col s12">
                          <input id="password" type="password" class="password" name="password"  >
                          <label class="active" for="password">Enter Password</label>

                        </div>

                        <div style="padding-left: 20px">
                                  <input class="with-gap gender" name="gender" type="radio" id="male"  value="male" />
                                  <label for="male">Male</label>
                                  <input class="with-gap gender" name="gender" type="radio" id="female" value="female"  />
                                  <label for="female">Female</label>

                        </div>


                       <div class="input-field col s12">
                          <input id="dob" type="date" name="dob" value="" class="dob" max="2015-01-01" >
                          <label class="active" for="dob">Date Of Birth</label>

                        </div>

                       <div class="input-field col s12">
                          <input type="text" id="address" name="address" class="address">
                          <label class="active" for="address">Address</label>

                        </div>


                      </div>
                      <div class="btn-group center-align" style="position: relative; bottom: 10px;">
                          <button type="submit" class="btn waves-effect btn-large green submit" id="submit" onclick="return formValidation()" style="padding: 0px;margin: 10px;padding-left: 13px;padding-right: 13px;">
                              <span>Register</span>

                          </button>
                          <a href="/dashboard/" class="btn waves-effect btn-large green" style="padding: 0px;padding-left: 13px;padding-right: 13px;margin: 10px;"><span>Cancel</span>
                           </a>
                      </div>
                      <div class="flow-text red-text">{{ msg }}</div>
                    </div>
                   </div>

                   {% else %}

                   {% for y in student %}


                <!--==============================Update Student Record================-->
                   <div class="updateForm">
                     <div class="card-content green white-text center-align">
                       <h4>Student Updatation Page....!</h4>
                   </div>
                      <div class="row register" style="margin-top: 20px;margin-left: 2%;margin-right: 2%;">


                         <div class="input-field col s12">
                          <input id="id" type="hidden" name="id" class="id"  value="{{ y.id }}"  >



                        </div>

                         <div class="input-field col s12">
                          <input id="roll_no" type="text" name="roll_no" class="roll_no"  value="{{ y.roll_no }}"  >
                          <label class="active" for="roll_no">Roll _No.</label>


                        </div>



                        <div class="input-field col s12">
                          <input id="name" type="text" name="name" class="name"  value="{{ y.name }}"  >
                          <label class="active" for="name">Name</label>


                        </div>

                        <div class="input-field col s12">
                          <input id="email" type="email" name="email" value="{{ y.email }}" class="validate email" >
                          <label class="active" for="email">Email</label>


                        </div>

                        <div class="input-field col s12">
                          <input id="mobile" type="text" value="{{ y.mobile }}" class="mobile" name="mobile" maxlength="10" onkeypress="return numberCheck(event)">
                           <label class="active" for="mobile">Mobile</label>


                        </div>

                       <div class="input-field col s12">
                          <input id="password" type="text" value="{{ y.password }}" name="password" class="password">
                          <label class="active" for="password">Password</label>

                        </div>




                       <div class="input-field col s12">
                          <input id="dob1" type="date" name="dob1" value="{{y.dob|date:"Y-m-d" }}"  class="dob1" max="2015-01-01" >
                          <label class="active" for="dob1">Date Of Birth</label>

                        </div>

                       <div class="input-field col s12">
                          <input type="text" id="address" name="address" class="address"  value="{{ y.address }}">
                          <label class="active" for="address">Address</label>

                        </div>


                      </div>
                      <div class="btn-group center-align" style="position: relative; bottom: 10px;">
                          <button type="submit" class="btn waves-effect btn-large green" onclick="return updateValidation()" style="padding: 0px;padding-left: 13px;padding-right: 13px;margin: 10px;">
                              <span>Update</span>

                          </button>
                          <a href="/dashboard/" class="btn waves-effect btn-large green" style="padding:0px;padding-left: 13px;padding-right: 13px; margin: 10px;"><span>Cancel</span></a>
                      </div>


                </div>

                   {% endfor %}

                 {% endif %}



         </div>

     </div>
 </div>
</body>
</html>