<!DOCTYPE html>
<html lang="en">
{% load staticfiles %}
<head>
    <meta charset="UTF-8">
    <title>Student Page</title>
          <!--Import Google Icon Font-->
      <link href="{% static 'css_file/bootstrap.min.css' %}">
      <link rel="stylesheet" href="{% static 'css_file/student_reg.css' %}">
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
      <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
      <script type="text/javascript" src="{% static 'js_file/student_reg.js' %}"></script>
</head>
<body>
 <nav>
         <div class="nav-wrapper green">
             <ul class="">
                 <li> <img src="{% static 'image/logo.ico' %}" width="50" height="50"></li>
                 <li>&nbsp;&nbsp;Welcome {{ login_user.name }}</li>
                 <li class="center" style="text-align: center"><strong style="position: absolute;left: 50% !important;">Admin Dashboard</strong></li>
                 <li style="float: right"><a href="/logout/" class="white-text" style="border-radius: 10px;">Logout<i class="material-icons right" style="margin-left: 0px;">power_settings_new</i> </a></li>
             </ul>
         </div>
     </nav>
 <div class="container">
     <div class="row" id="student_form" style="display: block;">
         <div class="col s12 m8 l6 offset-l3 offset-m2 ">
           <div class="card z-depth-3">

               {% if not student %}
             <!--=============================Create Student Record=====================-->
                <div id="formData">
                   <div class="card-content green white-text center-align">
                       <h4>Student Registration </h4>
                   </div>
                      <div class="row register" style="margin-top: 20px;margin-left: 2%;margin-right: 2%;">

                        <div class="input-field col s12">

                          <input id="image" alt="" style="padding-left: 0px;" type="file" name="image" class="image" onchange="document.getElementById('student_image').src=
                            window.URL.createObjectURL(this.files[0]);document.getElementById('student_image').style.display='block' " >
                          <label class="active" for="image" style="position: absolute;top: -47%">Select Student Image </label>
                            <img id="student_image" alt="" width="100" height="100" style="position: absolute;top: -119%;right: 2%;display: none">

                        </div>

                        <div class="input-field col s12" >
                          <input id="roll_no" type="text" name="roll_no" maxlength="6" class="roll_no" style="margin-top: inherit" onkeypress="return numberCheck(event)">
                          <label class="active" for="roll_no" style="margin-top: inherit">Student Roll No.</label>

                        </div>

                        <div class="input-field col s12">
                          <input id="name" type="text" name="name" class="name"  autocomplete="off" >
                          <label class="active" for="name">Student Name</label>

                        </div>

                        <div class="input-field col s12">
                          <input id="email" type="email"  name="email" class="validate email" >
                          <label class="active" for="email">Student Email</label>

                        </div>

                        <div class="input-field col s12">
                          <input id="mobile" type="text" name="mobile" class="mobile"  maxlength="10" onkeypress="return numberCheck(event)">
                          <label class="active" for="mobile">Mobile No.</label>

                        </div>

                       <div class="input-field col s12">
                          <input id="password" type="password" class="password" name="password"  >
                          <label class="active" for="password">Enter Password</label>

                        </div>

                        <div style="padding-left: 3%;margin-left: -2%" >
                                          <input name="gender" type="radio" class="gender" id="male" value="male" />
                                          <label for="male" style="padding-left: 24px;">Male</label>
                                          <input name="gender" type="radio" class="gender" id="female" value="female" />
                                          <label for="female" style="padding-left: 24px;">Female</label>
                       </div>



                       <div class="input-field col s12" style="padding-top: 3%">
                          <input id="dob" type="date" name="dob" value="" class="dob" max="2015-01-01" >
                          <label class="active" for="dob" style="margin-top: 3%;">Date Of Birth</label>

                        </div>

                       <div class="input-field col s12">
                          <input type="text" id="address" name="address" class="address">
                          <label class="active" for="address">Address</label>

                        </div>


                      </div>
                      <div class="btn-group center-align" style="position: relative; bottom: 10px;">
                          <button type="submit" class="btn waves-effect  green submit" id="submit" onclick="return formValidation()" style="text-transform:none;padding: 0px;margin: 10px;padding-left: 13px;padding-right: 13px;border-radius: 5px;">
                              <span>Register</span>

                          </button>
                          <a href="/dashboard/" class="btn-flat waves-effect waves-light" style="border:1px solid;padding: 0px;padding-left: 13px;padding-right: 13px;text-transform:none;margin: 10px;border-radius: 5px;"><span>Cancel</span>
                           </a>
                      </div>
                      <div class="flow-text red-text">{{ msg }}</div>
                    </div>
                   </div>

                   {% else %}

                   {% for y in student %}


                <!--==============================Update Student Record================-->
                   <div class="updateForm" id="updateForm" style="display: block">
                     <div class="card-content green white-text center-align">
                       <h4>Student Profile Update</h4>
                   </div>
                      <div class="row register" style="margin-top: 20px;margin-left: 2%;margin-right: 2%;">


                         <div class="input-field col s12">
                          <input id="id" type="hidden" name="id" class="id"  value="{{ y.id }}"  >



                        </div>

                         <div class="input-field col s12">
                          <input id="roll_no" type="text" name="roll_no" class="roll_no"  value="{{ y.roll_no }}" disabled >
                          <label class="active" for="roll_no">Roll _No.</label>


                        </div>



                        <div class="input-field col s12">
                          <input id="name" type="text" name="name" class="name"  value="{{ y.name }}"  >
                          <label class="active" for="name">Name</label>


                        </div>

                        <div class="input-field col s12">
                          <input id="email" type="email" name="email" value="{{ y.email }}" class="validate email" >
                          <label class="active" for="email">Email</label>


                        </div>

                        <div class="input-field col s12">
                          <input id="mobile" type="text" value="{{ y.mobile }}" class="mobile" name="mobile" maxlength="10" onkeypress="return numberCheck(event)">
                           <label class="active" for="mobile">Mobile</label>


                        </div>

                       <div class="input-field col s12">
                          <input id="password" type="text" value="{{ y.password }}" name="password" class="password">
                          <label class="active" for="password">Password</label>

                        </div>




                       <div class="input-field col s12">
                          <input id="dob1" type="date" name="dob1" value="{{y.dob|date:"Y-m-d" }}"  class="dob1" max="2015-01-01" >
                          <label class="active" for="dob1">Date Of Birth</label>

                        </div>

                       <div class="input-field col s12">
                          <input type="text" id="address" name="address" class="address"  value="{{ y.address }}">
                          <label class="active" for="address">Address</label>

                        </div>


                      </div>
                      <div class="btn-group center-align" style="position: relative; bottom: 10px;">
                          <button type="submit" class="btn waves-effect  green" onclick="return updateValidation()" style="text-transform:none;padding: 0px;padding-left: 13px;padding-right: 13px;margin: 10px;border-radius: 5px;">
                              <span>Update</span>

                          </button>
                          <a href="/dashboard/" class="btn-flat waves-effect waves-light" style="border:1px solid;text-transform:none;padding:0px;padding-left: 13px;padding-right: 13px; margin: 10px;border-radius: 5px;"><span>Cancel</span></a>
                      </div>


                </div>

                   {% endfor %}

                 {% endif %}



         </div>

     </div>
      <!-- Registration Confirmation Message -->
      <div class="row" id="student_success" style="display: none;">
         <div class="col s12 m8 l6 offset-l3 offset-m3 ">
           <div class="card z-depth-3">
                <div id="formData">
                   <div class="card-content green white-text center-align">
                       <h4>Student Registration Confirmation</h4>
                   </div>
                      <div class="center-align green-text" style="font-size: 20px;">Your Registration is Success</div>
                      <a href="/dashboard" class="btn-flat waves-effect waves-light " style="margin-left: 30%">GoTo Dashboard</a>

                    </div>
                   </div>





         </div>

     </div>
      <!-- Registration Failure Message-->
      <div class="row" id="student_fail" style="display: none;">
         <div class="col s12 m8 l6 offset-l3 offset-m3 ">
           <div class="card z-depth-3">
                <div id="formData">
                   <div class="card-content green white-text center-align">
                       <h4>Student Registration Confirmation</h4>
                   </div>
                      <div class="center-align red-text" style="font-size: 20px;">Your Registration is Failed,Try Again ?</div>
                      <a href="/studentpage" class="btn-flat waves-effect waves-light " style="margin-left: 30%">Registration</a>

                    </div>
                   </div>





         </div>

     </div>
      <!-- Updation Confirmation Message -->
      <div class="row" id="student_update_success" style="display: none;">
         <div class="col s12 m8 l6 offset-l3 offset-m3 ">
           <div class="card z-depth-3">
                <div id="formData">
                   <div class="card-content green white-text center-align">
                       <h4>Student Profile Update </h4>
                   </div>
                      <div class="center-align green-text" style="font-size: 20px;">Update Successfully</div>
                          <a href="/dashboard" class="btn-flat waves-effect waves-light " style="margin-left: 30%">GoTo Dashboard</a>
                </div>
           </div>
         </div>

     </div>




 </div>
</body>
</html>