<!DOCTYPE html>
<html lang="en">
{% load staticfiles %}
<head>
    <meta charset="UTF-8">
    <title>Student Page</title>
          <!--Import Google Icon Font-->
    <link href="{% static 'css_file/bootstrap.min.css' %}">
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

      <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    <style>
        .register label{
            font-size: 15px;
            margin-left: 10px;
            padding-top: 10px;
            font-weight: bold;
        }
            .register{
            margin: 50px;
        }
        body{
            background-color: honeydew;
        }
         .register input{
            font-size: 20px !important;
             padding-left: 10px;

        }
        span{
            font-size: 20px;
        }


    </style>
    <script type="text/javascript">
        $(document).ready(function() {
        Materialize.updateTextFields();
      });
         $('#address').val('New Text');
      $('#address').trigger('autoresize');

     function formValidation(){

         var sid = document.getElementById('sid').value;
         var name = document.getElementById('name').value;
         var email = document.getElementById('email').value;
         var mobile = document.getElementById('mobile').value;
         var password = document.getElementById('password').value;
         var gender1 = document.getElementById('male').checked;
         var gender2 = document.getElementById('female').checked;
         var dob = document.getElementById('dob').value;
         var address = document.getElementById('address').value;

          console.log(sid);
          console.log(name);


         //Student Id Validation
         if(sid == ""){
              Materialize.toast('**Please Fill Student ID...!', 2000,'rounded');
             return false;
         }

         //Student Name Validation
         if(name == ""){
             Materialize.toast('** Please Fill The Student Name...!', 2000,'rounded');
             return false;
         }
         if((name.length < 3) || (name.length >20)){
            Materialize.toast('** Please Fill The Student Name Between 3 and 20', 2000,'rounded');
             return false;
         }
         if(!isNaN(name)){
             Materialize.toast('** Please Only Character..! ', 2000,'rounded');
             return false;
         }
         //Email Validation

         if(email == ""){
             Materialize.toast('** Please Fill the Student Email..! ', 2000,'rounded');
             return false;
         }
         if(email.indexOf('@')<=0){
             Materialize.toast('** Please Fill the Email Id Proper Formate @', 2000,'rounded');
             return false;
         }
         if((email.charAt(email.length-4)!='.') && (email.charAt(email.length-3)!='.')){
             Materialize.toast('** Please Fill the Email Id Proper Formate .', 2000,'rounded');
             return false;
         }




         //Mobile no. validation
         if(mobile == ""){
             Materialize.toast('** Please Fill The Mobile Number', 2000,'rounded');
             return false;
         }
         if(mobile.length !=10){
             Materialize.toast('** Please Enter Only 10 Digits"', 2000,'rounded');
             return false;
         }
         if(isNaN(mobile)){
             Materialize.toast('** Mobile Number Should Contains Only Digit', 2000,'rounded');
             return false;
         }


         //password Validation

         if(password == "") {
             Materialize.toast('** Please Fill the Student Password', 2000,'rounded');
             return false;
         }
         if((password.length < 6) || (password.length >20)){
             Materialize.toast('** Please Fill The Student password Between 6 and 20', 2000,'rounded');
             return false;
         }
         //Gender validation
         if((gender1=="")&&(gender2=="")){
             Materialize.toast('** Please select Either Male or Female', 2000,'rounded');
             return false;
         }
         /*if((genderdata != "male") || (genderdata!="female"))
         {
           document.getElementById('gender1').innerHTML="** Please select Either Male or Female";
             return false;
         }*/
         //DOB Validation
         if(dob==""){
             Materialize.toast('** Please Fill the Student Date Of Birth', 2000,'rounded');
             return false;

         }
         //Address Validation
         if(address==""){
             Materialize.toast('** Please Fill the Student Address', 2000,'rounded');
             return false;
         }


         return true;


     }
 </script>
</head>
<body>

 <div class="container">
     <div class="row register">

         <div class="col s12 m6 l6 offset-l3">

               {% if not student %}
                <div class="card">
                  <form action="/student_data_store/" method="post" class="bg-light" onsubmit="return formValidation()">
                   <div class="card-content green white-text center-align">
                       <h4>Student Registration Page....!</h4>
                   </div>
                      <div class="row register" style="margin-top: 20px;margin-left: 20px;">
                        <div class="input-field col s12">
                          <input id="sid" type="number" name="sid" style="width: 550px;" >
                          <label class="active" for="sid">Student ID</label>

                        </div>

                        <div class="input-field col s12">
                          <input id="name" type="text" name="name"  autocomplete="off" style="width: 550px;">
                          <label class="active" for="name">Student Name</label>

                        </div>

                        <div class="input-field col s12">
                          <input id="email" type="email" name="email" class="validate" style="width: 550px;">
                          <label class="active" for="email">Student Email</label>

                        </div>

                        <div class="input-field col s12">
                          <input id="mobile" type="number" name="mobile" style="width: 550px;">
                          <label class="active" for="mobile">Mobile No.</label>

                        </div>

                       <div class="input-field col s12">
                          <input id="password" type="password" name="password" style="width: 550px;" >
                          <label class="active" for="password">Enter Password</label>

                        </div>

                        <div style="padding-left: 20px">
                                  <input class="female" name="gender" type="radio" id="male"  />
                                  <label for="male">Male</label>
                                  <input class="female" name="gender" type="radio" id="female"  />
                                  <label for="female">Female</label>

                        </div>


                       <div class="input-field col s12">
                          <input id="dob" type="date" name="dob"  max="2015-01-01" style="width: 550px;">
                          <label class="active" for="password">Date Of Birth</label>

                        </div>

                       <div class="input-field col s12">
                          <textarea id="address" name="address" class="materialize-textarea" style="width: 550px;"></textarea>
                          <label class="active" for="address">Address</label>

                        </div>


                      </div>
                      <div class="btn-group center-align" style="position: relative; bottom: 40px;">
                          <button type="submit" class="btn waves-effect btn-large green">
                              <span>Registration</span>
                              <i class="material-icons right">send</i>
                          </button>
                          <a href="/dashboard/" class="btn waves-effect btn-large green">GoTO Dashboard</a>
                      </div>
                      <div class="flow-text green">{{ status }}</div>
                  </form>
                   </div>
                   {% else %}
                   {% for y in student %}


                <form action="/student_data_update/" method="post" class="bg-light" >
                 <div class="card">
                     <div class="card-content green white-text center-align">
                       <h4>Student Updatation Page....!</h4>
                   </div>
                      <div class="row register" style="margin-top: 20px;margin-left: 20px;">
                          <div class="input-field col s12"><span>SID : </span><span style="font-size: 20px;margin-left:10px;font-weight: bold">{{ y.sid }}</span>
                          <input id="sid" type="hidden" value="{{ y.sid }}" name="sid" >


                        </div>

                        <div class="input-field col s12">
                          <input id="name" type="text" name="name"  value="{{ y.name }}" style="width: 570px;" >
                          <label class="active" for="name">Enter Name</label>


                        </div>

                        <div class="input-field col s12">
                          <input id="email" type="email" name="email" value="{{ y.email }}" class="validate" style="width: 570px;">
                          <label class="active" for="email">Enter Email</label>


                        </div>

                        <div class="input-field col s12">
                          <input id="mobile" type="number" value="{{ y.mobile }}" name="mobile" style="width: 570px;">
                           <label class="active" for="mobile">Enter Mobile</label>


                        </div>

                       <div class="input-field col s12">
                          <input id="password" type="text" value="{{ y.password }}" name="password" style="width: 570px;">
                          <label class="active" for="password">Enter Password</label>

                        </div>




                       <div class="input-field col s12">
                          <input id="dob" type="text" name="dob" value="{{y.dob|date:"Y-m-d" }}"  max="2015-01-01" style="width: 570px;">
                          <label class="active" for="dob">Date Of Birth</label>

                        </div>

                       <div class="input-field col s12">
                          <textarea id="address" name="address" class="materialize-textarea" style="width: 570px;">{{ y.address }}</textarea>
                          <label class="active" for="address">Address</label>

                        </div>


                      </div>
                      <div class="btn-group center-align" style="position: relative; bottom: 40px;">
                          <button type="submit" class="btn waves-effect btn-large green">
                              <span>Update</span>
                              <i class="material-icons right">send</i>
                          </button>
                          <a href="/dashboard/" class="btn waves-effect btn-large green">GoTO Dashboard</a>
                      </div>
                 </div>
                </form>

                   {% endfor %}

                 {% endif %}

                   <span class="text-center text-success font-weight-bold ">{{ msg }}</span>
                   <span class="text-center text-danger">{{ status1 }}</span>

         </div>

     </div>
 </div>


</body>
</html>